<!DOCTYPE html>
<html>
  <head>
    <title> WalkImproveApi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WalkImprove API</h1>
    <p>Welcome to WalkImprove's RESTful Api</p>
    <h2>RESTful Routes</h2>
    <h4> Get all reports GET /reports </h4>
    <h4> Get one report GET /reports/:id </h4>

  </body>
</html>
